.desktop-only{
  display: initial;
}
.mobile-only{
  display: none;
}

.pricing-bg{
  background: url(../../assets/pricing-background.png);
  background-position: center;
  background-repeat: no-repeat;
}
.hero-bgc{
  z-index: -1;
  position: absolute;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  height: 59.25rem;
  animation: fadeInUp 1.6s ease-in-out forwards;
}
.footer-bgc{
  z-index: -1;
  position: absolute;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25.9375rem;
}
@media (width <= 70em){

  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: initial;
  }
  .hero-bgc{
    height: 29rem;
  }
  .footer-bgc{
    height: 40rem;
  }

}