.desktop-only{
  display: initial;
}
.mobile-only{
  display: none;
}
.bg-gradient {
  top: 0;
  left: 0;
  width: 100%;
  height: auto; 
  background: linear-gradient(
    rgba(21, 0, 30, 0.8), 
    rgba(10, 0, 20, 0.7) 
  );
  z-index: 0;
}

.hero-bg{
  background-image: url(../../assets/images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 59.25rem;
  animation: fadeInUp 1.2s ease-out;

}
@media (width <= 60em){

  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: initial;
  }
  .hero-bg{
    height: 29rem;
  }
}