.desktop-only{
  display: initial;
}
.mobile-only{
  display: none;
}


.hero-bgc{
  z-index: -1;
  position: absolute;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  height: 59.25rem;
}
@media (width <= 70em){

  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: initial;
  }
  .hero-bgc{
    height: 29rem;
  }
}