.about-container{
  --padding-inline-base: 9.5rem;
  --max-width: 80em;
  max-width: var(--max-width);
  width: calc(100% - var(--padding-inline-base) * 2);
  margin-inline: auto;
  position: relative;
  border: 1px solid transparent;
  text-align: center;

}

.about{
  --padding-top: 13.125rem;
  --padding-bottom: 14.875rem;
  margin-top: var(--padding-top);
  margin-bottom: var(--padding-bottom);
  & h5{
    font-size: 2rem;
    line-height: 200%;
    margin-inline: auto;
  }

  & .part-1 {
    animation: colorText 1s ease-out 0.5s forwards;
    & .book{
      animation: highlightKeyword 1s ease-out 1s forwards;
    }
  }

  & .part-2{
    animation: colorText 1s ease-out 2s forwards;
    & .oija{
      animation: highlightKeyword 1s ease-out 3s forwards;
    }
  } 
  & .part-3 {
    animation: colorText 1s ease-out 4s forwards;
    & .crystal{
      animation: highlightKeyword 1s ease-out 5s forwards;
    }
  }
}

@keyframes colorText {
  0% {
    color: inherit;
  }
  100% {
    color: var(--text-title);
  }
}

@keyframes highlightKeyword {
  0% {
    color: inherit;
  }
  100% {
    color: var(--blue-light);
  }
}



@media (width <= 70em){
  .about-container{
    --padding-inline-base: 1.25rem;
    --max-width: 375px;

  }
  .about{
    --padding-top: 5.125rem;
    --padding-bottom: 5.0625rem;
    & h5{
      font-size: 1rem;
    }
  }
  
}