*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit
}

:root{
  /*PALETE*/
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;
  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;
  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  /*TIPOGRAFIA*/
  --ff-sans: 'Raleway', sans-serif;

  --fs-2xl: 3rem; /*48px*/
  --fs-xl: 2.5rem; /*40px*/
  --fs-lg: 2rem; /*32px*/
  --fs-md: 1.25rem; /*20px*/
  --fs-base: 1rem; /*16px*/
  --fs-sm: .875rem; /*14px*/
  --fs-xs: .75rem; /*12px*/
  --fs-2xs: .625rem; /*10px*/

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
}

html{
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  line-height: auto;
  letter-spacing: 0;
  color: var(--text-body);
  overflow-x: hidden;
}

body{
  background-color: var(--shape-background);
  overflow-x: hidden;
}

h1, h2, h3, h4{
  color: var(--text-title);
  line-height: auto;
  font-weight: var(--fw-bold);
}

/*TITLE LG*/
h1{
  font-size: var(--fs-2xl);
}
/*TITLE MD*/
h2{
  font-size: var(--fs-lg);
}
/*TITLE SM*/
h3{
  font-size: var(--fs-lg);
}
/*TITLE XS*/
h4{
  font-size: var(--fs-base);
}
/*SUBTITLE*/
h5{
  font-size: var(--fs-lg);
  line-height: 2;
  font-weight: var(--fw-medium);
}
a{
  text-decoration: none;
  color: var(--blue-light);
  font-weight: var(--fw-medium);
  font-size: var(--fs-sm);
}
a:hover{
  color: var(--text-body);
}
button{
  color: var(--text-title);
  border: 0;
  font-family: var(--ff-sans);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
}
ul[role="list"]{
  list-style: none;
}
img{
  max-width: 100%;
}

@media (width<= 79em){
  :root{
    --fs-2xl: 1.75rem; /*Antes 48px, agora 28px*/
    --fs-xl: 1.5rem; /*Antes 40px, agora 24px*/
    --fs-lg: 1rem; /*Antes 32px, agora 16px*/
    --fs-md: .875rem; /*Antes 20px, agora 14px*/
    --fs-base: .875rem; /*Antes 16px, agora 14px*/
    --fs-sm: .875rem; /*14px*/
    --fs-xs: .75rem; /*12px*/
    --fs-2xs: .625rem; /*10px*/
  }
}