.hero-top{
  --padding-inline-base: 10rem;
  --max-width: 80em;
  max-width: var(--max-width);
  width: calc(100% - var(--padding-inline-base) * 2);
  margin-inline: auto;
  
  & .hero-navbar{
    --padding-top: 3.5rem;
    --padding-bottom: 10.25rem;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .hero-title{
    --padding-bottom: 29.375rem;
    text-align: center;
    padding-bottom: var(--padding-bottom);
    & h1{
      max-width: 80%;
      margin-inline: auto;
      --padding-bottom: 2rem;
      padding-bottom: var(--padding-bottom);

      opacity: 0;
      animation: fadeInUp 1s ease-out 0.3s forwards;
    }
    & p{
      font-size: 1.25rem;
      opacity: 0;
      animation: fadeInUp 1s ease-out 0.8s forwards;
    }
  }
}

.hero-bottom{
  --padding-inline-base: 9.5rem;
  --max-width: 80em;
  max-width: var(--max-width);
  width: calc(100% - var(--padding-inline-base) * 2);
  
  margin-inline: auto;
  text-align: center;

  --padding-top: 13.125rem;
  --padding-bottom: 14.875rem;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  position: relative;

  & h5{
    width: 90%;
    margin-inline: auto;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }



  & .part-1{
    animation: colorText 1s ease-out 0.5s forwards;
    & .book{
      animation: highlightKeyword 1s ease-out 1s forwards;
    }
    & img{
      top: -6rem;
      position: absolute;
      width: 5rem;
      height: 5rem;
      opacity: 0;
      transform: rotate(25deg);
      animation: fadeInImage 0.8s ease-out 1.2s forwards;
      transition: transform 0.3s ease-in-out;
      &:hover{
        transform: rotate(30deg) scale(1.1);
      }
    }
  }
  & .part-2{
    animation: colorText 1s ease-out 2s forwards;
    & .oija{
      animation: highlightKeyword 1s ease-out 3s forwards;
    }
    & img{
      bottom: -3rem;
      left: -2.4rem;
      position: absolute;
      width: 5rem;
      height: 5rem;
      opacity: 0;
      transform: rotate(95deg);
      animation: fadeInImage 0.8s ease-out 3.2s forwards;
      transition: transform 0.3s ease-in-out;
      &:hover{
        transform: rotate(100deg) scale(1.1);
      }
    }
  }
  & .part-3{
    animation: colorText 1s ease-out 4s forwards;
    & .crystal {
      animation: highlightKeyword 1s ease-out 5s forwards;
    }
    & img{
      right: -3rem;
      bottom: -2rem;
      position: absolute;
      width: 5rem;
      height: 5rem;
      opacity: 0;
      transform: rotate(-20deg);
      animation: fadeInImage 0.8s ease-out 5.2s forwards;
      transition: transform 0.3s ease-in-out;
      &:hover{
        transform: rotate(-15deg) scale(1.1);
      }
    }
  }

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorText {
  0% {
    color: inherit;
  }
  100% {
    color: var(--text-title);
  }
}

@keyframes highlightKeyword {
  0% {
    color: inherit;
  }
  100% {
    color: var(--blue-light);
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate();
  }
}



@media (width <= 70em){
  .hero-top{
    --padding-inline-base: 1.25rem;
    --max-width: 375px;
    & .hero-navbar{
      --padding-top: 1.25rem;
      --padding-bottom: 3rem;
    }

    & .hero-title{
      --padding-bottom: 12.0625rem;
      & h1{
        --padding-bottom: 1rem;
      }
      & p{
        font-size: .875rem;
      }
    }
  }

  .hero-bottom{
    --padding-inline-base: 1.25rem;

    --padding-top: 5.125rem;
    --padding-bottom: 5.0625rem;

    & .part-1{
      & img{
        top: -3rem;
        right: 6rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    & .part-2{
      & img{
        bottom: -3.5rem;
        left: 0;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    & .part-3{
      & img{
        right: 0;
        bottom: -3.4rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
