.pricing-container{
  --padding-top: 14.6875rem;
  --padding-bottom: 17.375rem;

  --padding-inline-base: 0;
  --max-width: 80em;

  max-width: var(--max-width);
  width: calc(100% - var(--padding-inline-base) * 2);
  
  margin-inline: auto;

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  
  border: 1px solid purple;

  display: flex;
  flex-direction: column;

}

.pricing-title{
  font-size: 2rem;
  padding-bottom: 3.5rem;
  text-align: center;
}

.pricing-card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin-inline: auto;
  position: relative;
  padding-top: 8.6875rem;
  

  & .pricing-card{
    transition: scale 0.5s ease-in-out, background-color 0.5s ease-in-out;

    padding-top: 2rem;
    padding-inline: 2rem;
    padding-bottom: 1.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 1px solid var(--shape-stroke);
    border-radius: 1.5rem;

    width:18rem;
    height:26rem;

    & .top{
      & header{
        display: flex;
        flex-direction: column;
        & h4{
          font-size: 1rem;
          padding-bottom: 1.5rem;
        }
        & h3{
          font-size: 2.5rem;
          & .per-month{
            font-size: 1rem;
          }
          & .per-year{
            padding-top: .5rem;
            display: flex;
            flex-direction: row;
            font-size: .875rem;
            color: var(--text-label);
            font-weight: 300;
          }
        }
      }
  
    }
    
    & .bottom{
      display: flex;
      flex-direction: column;
      margin-top: auto;
      gap: 1.5rem;
      & .pricing-card-content{
        font-size: .75rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        & li{
          display: flex;
          flex-direction: row;
          gap: .75rem;
          & img{
            width: .875rem;
            height: .875rem;
          }
        }
      }

  
      & .button-secondary, & .button-primary{
        margin-inline:auto;
      }
    }
  }

  & .mensal h4, & .anual h4{
    color: var(--blue-light);
    font-size: 1rem;
  }

  & .semestral h4{
    color: var(--pink-light);
    font-size: 1rem;
  }

  & .mensal{
    z-index: 0;
    background-color: var(--shape-base);
    position: absolute;
    opacity: 0;
    animation: fadeInLeft 1s ease both;
    animation-fill-mode: forwards;
    &:hover{
      z-index: 2;
      background-color: var(--shape-hover);
      scale: 1.02;
      & .big-star-up{
        transform: rotate(25deg);
      }
      & .small-star-up{
        transform: rotate(-25deg);
      }
    }
    & header{
      position: relative;
      & .big-star-up{
        position: absolute;
        width: 1.625rem;
        height: 1.625rem;
        top:-60%;
        left: -30%;
        transition: transform 0.5s ease-in-out;
      }
      & .small-star-up{
        position: absolute;
        width: .8125rem;
        height: .8125rem;
        top:-30%;
        left: -35%;
        transition: transform 0.5s ease-in-out;
      }
    }
  }
  & .semestral{
    z-index: 1;
    background-color: var(--shape-base);
    &:hover{
      z-index: 2;
      background-color: var(--shape-hover);
      scale: 1.02;
    }
    & header{
      position: relative;
      & .bunny{
        position: absolute;
        width: 2.8125rem;
        height: 3.125rem;
        top: -73%;
      }
    }

  }
  & .anual{
    z-index: 0;
    background-color: var(--shape-base);
    position: absolute;
    opacity: 0;
    animation: fadeInRight 1s ease both;
    animation-fill-mode: forwards;
    &:hover{
      z-index: 2;
      background-color: var(--shape-hover);
      scale: 1.02;
      & .big-star-down{
        transform: rotate(25deg);
      }
      & .small-star-down{
        transform: rotate(-25deg);
      }
    }
    & ul{
      position: relative;
      & .big-star-down{
        position: absolute;
        width: 1.625rem;
        height: 1.625rem;
        bottom:-100%;
        right: -40%;
        transition: transform 0.5s ease-in-out;
      }
      & .small-star-down{
        position: absolute;
        width: .8125rem;
        height: .8125rem;
        bottom:-110%;
        right: -20%;
        transition: transform 0.5s ease-in-out;
      }
    }
  }

}


.pricing-card.mensal,
.pricing-card.anual {
  animation-play-state: paused;
}

.pricing-container:hover .pricing-card.mensal,
.pricing-container:hover .pricing-card.anual {
  animation-play-state: running;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 0.9;
    
  }
  to {
    transform: translateX(-100%) translateY(15%) rotate(-8deg);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 0.9;
  }
  to {
    transform: translateX(100%) translateY(15%) rotate(8deg);
    opacity: 1;
  }
}

@media (width <= 70em){
  .pricing-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .pricing-card{
      position: relative;
      animation: fadeInUp 1s ease both;
      animation-fill-mode: forwards;
      
      & .mensal, & .semestral, & .anual {
        position: relative;
        opacity: 1;
        animation: fadeInUp 1s ease both;
      }
  
      & .bottom{
        & .pricing-card-content{
          font-size: .65rem;
        }
      }
    }
  } 
}


@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
